.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navigation-menu li{
    margin: 0px 15px;  
    cursor: pointer;
}
.navigation-menu li a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.navigation-menu li a:hover{
    color: rgb(255, 2, 2);
}

.mobile-navigation{
    list-style: none;
}
.mobile-navigation li{
    margin-top: 30px;
}
.mobile-navigation li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

.mobile-navigation li a:hover{
    color: rgb(255, 2, 2);
}

@media (max-width: 1023px) {
    .navigation-menu li a{
        font-size: 0.8rem;
    }
}